
.DS_Store
FYJWave.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
FYJWave.xcodeproj/project.xcworkspace/xcuserdata/ningxia.xcuserdatad/UserInterfaceState.xcuserstate
FYJWave.xcodeproj/xcuserdata/ningxia.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
FYJWave.xcodeproj/xcuserdata/ningxia.xcuserdatad/xcschemes/xcschememanagement.plist
